<!--TableContent -->


<div id="TableContent" class="w-100">
    <div class="py-20"></div>
    <div class="pt-5"></div>
    <div class="TableContent__inner" >
        <!--Loop-->
         <a href="" class="TableContent__inner__list  d-flex TableContent__inner__list--height usr-tch-blue ">
            <div class="TableContent__inner__list__item d-flex align-items-center justify-content-center d-flex-1 d-flex-shrink-0">
                <span class="TableContent__inner__text font-psr text-black-r">Az</span>
            </div>
            <div class="TableContent__inner__list__item d-flex align-items-center justify-content-center d-flex-1 d-flex-shrink-0">
                <span class="TableContent__inner__text font-psr text-black-r">Pronun...</span>
            </div>
            <div class="TableContent__inner__list__item d-flex align-items-center justify-content-center d-flex-1 d-flex-shrink-0">
                <span class="TableContent__inner__text font-psr text-black-r">En</span>
            </div>
        </a>
        


        
        <!--Loop-->
    </div>
</div>



<!--/TableContent -->