<!--TableHeader -->
<div id="TableHeader" class="pos-fixed w-100">
    <div class="TableHeader__inner d-flex TableHeader__inner--height">
        <a class="TableHeader__inner__key d-flex align-items-center justify-content-center d-flex-1 usr-tch-blue cur-p">
            <span class="TableHeader__inner__text font-psb text-black-r">Az</span>
        </a>
        <a class="TableHeader__inner__key d-flex align-items-center justify-content-center d-flex-1 usr-tch-blue cur-p">
            <span class="TableHeader__inner__text font-psb text-black-r">Pronun...</span>
        </a>
        <a class="TableHeader__inner__key d-flex align-items-center justify-content-center d-flex-1 usr-tch-blue cur-p">
            <span class="TableHeader__inner__text font-psb text-black-r">En</span>
        </a>
    </div>
</div>
<!--/TableHeader -->